body {
    background-color: #3A3E98;
    display: grid;
    justify-items: center;
}

.primaryHeader{
    color: #5256BC; 
    align-content: center;
}

#colorBtn{
    background-color: #5256BC;
    border-radius: 50px;
    width: 50%;
    height: 5rem;
    font-size: 2rem;
}