body {
    margin: 0;
}
h1 {
    background-color: #FF0000;
    color: #FFDE00;
    margin: 0px auto;
    height: 200px;
    font-family: Geneva;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.hidden {
    display: hidden;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}
